
/******************************************************/
/*____    ______        _     _     _
|_   _|   |  _  \      | |   (_)   | |
  | | ___ | | | |___   | |    _ ___| |_
  | |/ _ \| | | / _ \  | |   | / __| __|
  | | (_) | |/ / (_) | | |___| \__ \ |_
  \_/\___/|___/ \___/  \_____/_|___/\__|By Rolls 2020*/
            /* VERSIÓN 0.4 */
/******************************************************/

/* CSS STYLES */
/* CÓDIGO BÁSICO */


/* Cargando reset */

@import url(reset.css);

/* Cargando fuentes */

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Share+Tech&display=swap');


/* FUENTES */
/*
font-family: 'Share Tech', sans-serif;
font-family: 'Press Start 2P', cursive;
/*

/* COLORES */
/*
color rojo: #fa573a;
color azul: #21242e;
*/

/*************************************/

/* Box Sizing reset */


*{
    box-sizing: border-box;
}

/* Declarando fuente */

body {
    font-family: 'Share Tech', sans-serif;
    font-size: 1em;
    background-image: url('../img/Wall.png'); /* Background */
}

body div#wrapper{
    background-color: #00000096;
}



/*************************************/

#wrapper{
        clear: both;
    content: "";
    height: 0;
    display: block;

}

header>div {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
    background-color: #00000069;
    color: white;
}

header>div span{
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
}

header>div div.imp {
    position: absolute;
    
    display: none;
    transform: translateY(-500px);
    transform: translateX(200px);
    
}

/*********** CLEAR **************/

#clear {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    font-size: 5rem;
    padding: 10px;
    background-color: orangered;
    float: right;
    position: fixed;
    margin-left: 70%;
    border-radius: 10px;
    border: orangered solid 2px;
    transition: 1s;
    transform: translateY(100px);
        
}

#clear:hover {
    background-color: transparent;
    border: orangered solid 2px;
    transition: 1s;
    color: white;
}

/*********** TAREAS *************/



article {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    border-radius: 6px;
    display: relative;
    transition: 1s;
}

article:hover {
    transform: translateX(12px);
    transition: 1s;

}

article h2 {
    padding: 20px;
}

article i{
    padding: 10px;
    font-size: 3rem;
    transition: 1s;
}

article i:hover{
    font-size: 400%;
    transition: 1s;
}

article i.fa-trash-alt{
    transform: translateX(200px);
}

article a {
    display: absolute;
    text-align: right;
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-weight: 700;
    border: black;
    transition: 1s;

}

article a:hover {
    font-size: 120%;
    transition: 1s;
}

/******* CLASIFICACIÓN POR IMPORTANCIA *******/

.normal {
    background-image: url('../img/bg1.png');
    opacity: 0.5;
    transition: 1s;
}

.importante {
    background-image: url('../img/bg2.png');
    opacity: 0.5;
    transition: 1s;
}

.urgente {
    background-image: url('../img/bg3.png');
    opacity: 0.5;
    transition: 1s;
}

.normal:hover {
    opacity: 1;
    transition: 1s;
}

.importante:hover {
    opacity: 1;
    transition: 1s;
}

.urgente:hover {
    opacity: 1;
    transition: 1s;
}


/*********** FOOTER *************/

footer {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
}

footer span {
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
}


/*******************************
___  ___         _ _         _____                 _           
|  \/  |        | (_)       |  _  |               (_)          
| .  . | ___  __| |_  __ _  | | | |_   _  ___ _ __ _  ___  ___ 
| |\/| |/ _ \/ _` | |/ _` | | | | | | | |/ _ \ '__| |/ _ \/ __|
| |  | |  __/ (_| | | (_| | \ \/' / |_| |  __/ |  | |  __/\__ \
\_|  |_/\___|\__,_|_|\__,_|  \_/\_\\__,_|\___|_|  |_|\___||___/
*******************************/

/* Primer Breakpoint */
/* Mobil grande / Tablet pequeña */

@media(min-width: 48.063em)
{
    article i.fa-trash-alt{
        margin-left: 300px;
        
    }
    
    #clear {
        transform: translateY(20px);
        margin-left: 80%;
    }

    header>div div.imp {
        display: inline;
        transform: translateY(-120px);
        margin-left: 70%;
    }
    
}

   


/* Segundo Breakpoint */
/* Tablet / Pantalla Pequeña */

@media(min-width: 62.750em)
{

    article i.fa-trash-alt{
        margin-left: 500px;
    }

    #clear {
        transform: translateY(20px);
        margin-left: 85%;
    }

    header>div div.imp {
        transform: translateY(-120px);
        margin-left: 60%;
    }
}


/* Tercer Breakpoint */
/* Desktop */

@media(min-width: 75.0625em)
{
    article i.fa-trash-alt{
        margin-left: 1000px;
    }

    #clear {
        transform: translateY(20px);
        margin-left: 90%;
    }

    header>div div.imp {
        transform: translateY(-120px);
        margin-left: 80%;
    }

}