
/******************************************************/
/*____    ______        _     _     _
|_   _|   |  _  \      | |   (_)   | |
  | | ___ | | | |___   | |    _ ___| |_
  | |/ _ \| | | / _ \  | |   | / __| __|
  | | (_) | |/ / (_) | | |___| \__ \ |_
  \_/\___/|___/ \___/  \_____/_|___/\__|By Rolls 2020*/

/******************************************************/

/* CSS STYLES */

.normal {
    background-color: greenyellow;
}

.importante {
    background-color: orangered;
}

.urgente {
    background-color: red;
}

footer {
    background-color: black;
    width: 100%;
}